<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/error.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <title>Error</title>
</head>

<body>
 <div class="error">
   <h1>opps!</h1>
   <h4><%= message %></h4>
   <p>Please try agin.</p>
   <a href="/"><i class='bx bxs-left-arrow-alt' ></i></a>
 </div>

</body>
</html>