<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/show.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <title>List</title>
</head>

<body>
  <div class="output">
   <a href="/"><i class='bx bxs-left-arrow-circle'></i></a>
   <h1 class="title"><%= title %></h1>
   <textarea class="data" id="textarea" placeholder="Note"><%= data %></textarea>
  </div>


  <script src="/javascripts/script.js"></script>
</body>
</html>